<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "https://sites.google.com/view/athkaralmuslim/"
    xmlns:gap   = "https://sites.google.com/view/athkaralmuslim/1.0"
    id          = "com.athkaralmuslim"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->
  <name>Athkar Almuslim</name>

  <description>
      discription
  </description>

  <author href="https://sites.google.com/view/athkaralmuslim/" email="samsal81@outlook.com">
      Osama Al-Saleh
  </author>
  <icon src="athkaralmuslim.png" platform="android" />

</widget>