html {
    font-family: 'Lato', sans-serif;
    background-color: hsl(180, 70%, 25%);
    direction: rtl;
    color: hsl(0, 0%, 90%);
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;
}

main {
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

h3,
h5,
h4,
p {
    text-align: center;
    margin: 0.1em 1em;
    font-weight: bold;
    font-size: 150%;
}

p {
    font-style: italic;
    font-size: smaller;
    margin-top: 2em;
}

h6 {
    margin: 0 1em;
    font-size: 150%;
    text-align: justify;
}

br {
    margin: 1em;
}

hr {
    width: 80%;
    text-align: center;
    margin: 2em auto;
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: medium double;
}

span {
    position: fixed;
    background-color: hsl(180, 70%, 15%);
    padding: 0.5em 0.9em;
    width: 100%;
    margin: 0em;
}

div button {
    border-radius: 20px;
    border: none;
    display: inline-block;
    width: 90%;
    background-color: hsl(0, 0%, 90%);
    color: hsl(180, 70%, 25%);
    ;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
    text-align: center;
    margin: 1.5em;
    padding: 0em;
}

.counter h1 a {
    font-size: 150%;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.counter {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    overflow-y: scroll;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    height: 100%;
    text-align: center;
    top: 5.5em;
}

.overlay-content button {
    border-radius: 20px;
    border: none;
    display: inline-block;
    width: 90%;
    background-color: teal;
    text-shadow: 2px 2px 5px gray;
    color: hsl(0, 0%, 90%);
    padding: 0 auto;
    cursor: pointer;
    text-align: center;
    margin: 0.5rem auto;
}

.overlay a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 2rem;
    color: hsl(0, 0%, 90%);
    display: block;
    transition: 0.3s;
}

.overlay a:focus {
    color: hsl(0, 0%, 90%);
}

.overlay .closebtn {
    position: absolute;
    right: 0.5em;
    top: 0.08em;
    margin-bottom: 1em;
    font-size: 3rem;
}

#margin {
    height: 100px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: hsl(0, 0%, 90%);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(180, 27%, 26%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(180, 40%, 12%);
}